* {
  font-family: Lato;
}

h1 {
  background-color: dodgerblue;
  color: white; 
  padding: 50px;
  margin-top: -10px;
}

.player-container {
  margin: 50px; 
}

fa-icon {
  font-size: 50px;
  margin-right: 40px; 
}

#player fa-icon {
  color: dodgerblue;
  cursor: pointer;
}

#computer fa-icon {
  color: rgb(235, 43, 52);  
}

/* .selected {
  color: black !important;
} */

.choice {
  text-transform: capitalize; 
}

#player .choice {
  color: dodgerblue;
}

#computer .choice {
  color: rgb(235, 43, 52);  
}

/* .result-container {
  margin: 0px 50px;
}

.fa-sync-alt {
  font-size: 20px;
  cursor: pointer;
}

.result-text {
  font-size: 40px; 
  margin: unset; 
  position: relative;
  top: -40px;
  left: 40px; 
}

@media screen and (max-width: 500px) {
  h1 { font-size: 24px; padding: 50px 25px; margin-top: 0; }
  .player-container { margin: 50px 25px; }
  .result-container { margin: 0px 25px; }
  .fa-sync-alt { font-size: 30px; }
  .result-text { top: -40px; left: 50px; }
  .far { margin-right: 20px; }
} */

