* {
  font-family: Lato;
}

h1 {
  background-color: dodgerblue;
  color: white; 
  padding: 50px;
  margin-top: -10px;
}

.player-container {
  margin: 50px; 
}

fa-icon {
  font-size: 50px;
  margin-right: 40px; 
}

#player fa-icon {
  color: dodgerblue;
  cursor: pointer;
}

#computer fa-icon {
  color: rgb(235, 43, 52);  
}

