<h1>Rock Paper Scissors Lizard Spock</h1>
<div class="player-container" id="player">
  <h2>You - {{playerScore}}</h2>
  <fa-icon [icon]="['far', 'hand-rock']" title="Rock" (click)="pick('rock')"></fa-icon>
  <fa-icon [icon]="['far', 'hand-paper']" title="Paper" (click)="pick('paper')"></fa-icon>
  <fa-icon [icon]="['far', 'hand-scissors']" title="Scissors" (click)="pick('scissors')"></fa-icon>
  <fa-icon [icon]="['far', 'hand-lizard']" title="Lizard" (click)="pick('lizard')"></fa-icon>
  <fa-icon [icon]="['far', 'hand-spock']" title="Spock" (click)="pick('spock')"></fa-icon>
</div>
<div class="player-container" id="computer">
  <h2>Computer - {{computerScore}}</h2>
  <fa-icon [icon]="['far', 'hand-rock']" title="Rock"></fa-icon>
  <fa-icon [icon]="['far', 'hand-paper']" title="Paper"></fa-icon>
  <fa-icon [icon]="['far', 'hand-scissors']" title="Scissors"></fa-icon>
  <fa-icon [icon]="['far', 'hand-lizard']" title="Lizard"></fa-icon>
  <fa-icon [icon]="['far', 'hand-spock']" title="Spock"></fa-icon>
</div>